//
   Created by Wang on 2016/3/3.

doctype html
html
    head
        title drop
        link(href="Content/Drag.css",rel="styleSheet")
        script(src="Script/jquery-1.10.2.js",type="text/javascript")
        script(src="Script/jquery.gridly.js",type="text/javascript")
        script(src="Script/Drag.js",type="text/javascript")
    body
        //div.divblock(ondrop="drop(event)",ondragover="allowDrop(event)")
        //div#dropdiv.divsmallblock(draggable="true",ondragstart="drag(event)")
        //div.divblock(ondrop="drop(event)",ondragover="allowDrop(event)"
        .example
            div.divblock 111
            div.divsmallblock 222
            div.divblock 333