<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>拖拽章节-无分组 vue.draggable例子</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="https://www.itxst.com/package/vue/vue.min.js"></script>
    <script src="https://www.itxst.com/package/sortable/Sortable.min.js"></script>
    <script src="https://www.itxst.com/package/vuedraggable/vuedraggable.umd.min.js"></script>
    <style scoped>
        /*被拖拽对象的样式*/
        .item {
            padding: 6px;
            background-color: #fdfdfd;
            border: solid 1px #eee;
            margin-bottom: 10px;
            cursor: move;
        }

        .item:hover {
            background-color: #f1f1f1;
            cursor: move;
        }

        .block {
            margin: 10px;
        }

        /*选中样式*/
        .chosen {
            border: solid 2px #3089dc !important;
        }
    </style>
</head>
<body style="padding:10px;">
<div id="app">
    <div>{{drag?'拖拽中':'拖拽停止'}}</div>
    <draggable v-model="myArray" chosen-class="chosen" force-fallback="true" group="people" animation="1000"
               @start="onStart" @end="onEnd" :move="onMove">
        <transition-group>
            <div class="item" v-for="element in myArray" :key="element.id">
                <span v-text="element.name"></span>
                <div class="block">
                    <draggable v-model="element.list" chosen-class="chosen" force-fallback="true" group="people"
                               animation="1000"
                               @start="onStart" @end="onEnd" :move="onMove">
                        <transition-group>
                            <div class="item" v-for="item in element.list" :key="item.id">
                                <span v-text="element.name+'～'+item.name"></span>
                                <div class="block">
                                    <draggable v-model="item.list" chosen-class="chosen" force-fallback="true"
                                               group="people"
                                               animation="1000"
                                               @start="onStart" @end="onEnd" :move="onMove">
                                        <transition-group>
                                            <div class="item" v-for="item2 in item.list" :key="item2.id">
                                                <span v-text="element.name+'～'+item.name+'~'+item2.name"></span>
                                            </div>
                                        </transition-group>
                                    </draggable>
                                </div>
                            </div>
                        </transition-group>
                    </draggable>
                </div>
            </div>
        </transition-group>
    </draggable>
</div>
<script>
    // 全局注册组件
    Vue.component('vuedraggable', window.vuedraggable)
    var app = new Vue({
        el: '#app',
        components: {
            vuedraggable: window.vuedraggable,//当前页面注册组件
        },
        data() {
            return {
                drag: false,
                myArray: [
                    {
                        people: 'cn', id: 1, name: '第一章', grade: 1,
                        list: [
                            {
                                id: 11, name: '第一节', grade: 2,
                                list: [
                                    {id: 21, name: '第一小节', grade: 3},
                                    {id: 22, name: '第二小节', grade: 3},
                                    {id: 23, name: '第三小节', grade: 3}
                                ]
                            },
                            {
                                id: 12, name: '第二节', grade: 2,
                                list: [
                                    {id: 21, name: '第一小节', grade: 3},
                                    {id: 22, name: '第二小节', grade: 3},
                                    {id: 23, name: '第三小节', grade: 3}
                                ]
                            },
                            {
                                id: 13, name: '第三节', grade: 2,
                                list: [
                                    {id: 21, name: '第一小节', grade: 3},
                                    {id: 22, name: '第二小节', grade: 3},
                                    {id: 23, name: '第三小节', grade: 3}
                                ]
                            }
                        ]
                    },
                    {
                        people: 'cn', id: 2, name: '第二章', grade: 1,
                        list: [
                            {id: 21, name: '第一节', grade: 2},
                            {id: 22, name: '第二节', grade: 2},
                            {id: 23, name: '第三节', grade: 2}
                        ]
                    },
                    {
                        people: 'cn', id: 3, name: '第三章', grade: 1,
                        list: [
                            {id: 31, name: '第一节', grade: 2},
                            {id: 32, name: '第二节', grade: 2},
                            {id: 33, name: '第三节', grade: 2}
                        ]
                    },
                    {
                        people: 'cn', id: 4, name: '第四章', grade: 1,
                        list: [
                            {id: 41, name: '第一节', grade: 2},
                            {id: 42, name: '第二节', grade: 2},
                            {id: 43, name: '第三节', grade: 2}
                        ]
                    }
                ]
            };
        },
        methods: {
            onStart() {
                // this.drag = true;
            },
            onEnd() {
                // this.drag = false;
                console.log(this.myArray);
            },
            //move回调方法
            onMove(e, originalEvent) {
                console.log(e)
                /*e对象结构
                draggedContext: 被拖拽的元素
                    index: 被拖拽的元素的序号
                    element: 被拖拽的元素对应的对象
                    futureIndex: 预期位置、目标位置
                relatedContext: 将停靠的对象
                    index: 目标停靠对象的序号
                    element: 目标的元素对应的对象
                    list:  目标数组
                    component: 将停靠的vue组件对象
                */
                if (e.draggedContext.element.grade < e.relatedContext.element.grade) {
                    return false;
                }
                return true;
            },
        }
    });
</script>
</body>
</html>