/* line 50, ../../sass/_function.sass */
.thom_picture {
  background-image: url("/image/thom.jpg");
}

/* line 50, ../../sass/_function.sass */
.jonny_picture {
  background-image: url("/image/jonny.jpg");
}

/* line 50, ../../sass/_function.sass */
.colin_picture {
  background-image: url("/image/colin.jpg");
}

/* line 50, ../../sass/_function.sass */
.phil_picture {
  background-image: url("/image/phil.jpg");
}

/* easy-animation.scss */
/* line 3, ../../sass/Layout/base.sass */
html {
  font-family: microsoft yahei;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../../sass/Layout/base.sass */
body, p, label, ul, li {
  margin: 0;
  padding: 0;
}

/* line 13, ../../sass/Layout/base.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 16, ../../sass/Layout/base.sass */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 23, ../../sass/Layout/base.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 27, ../../sass/Layout/base.sass */
[hidden], template {
  display: none;
}

/* line 30, ../../sass/Layout/base.sass */
a {
  background: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

/* line 36, ../../sass/Layout/base.sass */
a:active, a:hover {
  outline: 0;
}

/* line 39, ../../sass/Layout/base.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 42, ../../sass/Layout/base.sass */
b, strong {
  font-weight: bold;
}

/* line 45, ../../sass/Layout/base.sass */
dfn {
  font-style: italic;
}

/* line 48, ../../sass/Layout/base.sass */
mark {
  color: #000;
  background: #ff0;
}

/* line 52, ../../sass/Layout/base.sass */
small {
  font-size: 80%;
}

/* line 55, ../../sass/Layout/base.sass */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 61, ../../sass/Layout/base.sass */
sup {
  top: -0.5em;
}

/* line 64, ../../sass/Layout/base.sass */
sub {
  bottom: -0.25em;
}

/* line 67, ../../sass/Layout/base.sass */
img {
  border: 0;
}

/* line 70, ../../sass/Layout/base.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 73, ../../sass/Layout/base.sass */
figure {
  margin: 1em 40px;
}

/* line 76, ../../sass/Layout/base.sass */
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 82, ../../sass/Layout/base.sass */
pre {
  overflow: auto;
}

/* line 85, ../../sass/Layout/base.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 89, ../../sass/Layout/base.sass */
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* line 94, ../../sass/Layout/base.sass */
button {
  overflow: visible;
  border: none;
  padding: 0;
}

/* line 99, ../../sass/Layout/base.sass */
button, select {
  text-transform: none;
}

/* line 102, ../../sass/Layout/base.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 106, ../../sass/Layout/base.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 109, ../../sass/Layout/base.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 113, ../../sass/Layout/base.sass */
input {
  line-height: normal;
  padding: 0;
}

/* line 117, ../../sass/Layout/base.sass */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 123, ../../sass/Layout/base.sass */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 126, ../../sass/Layout/base.sass */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 132, ../../sass/Layout/base.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 135, ../../sass/Layout/base.sass */
input:focus {
  outline: inherit;
}

/* line 138, ../../sass/Layout/base.sass */
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

/* line 143, ../../sass/Layout/base.sass */
legend {
  padding: 0;
  border: 0;
}

/* line 147, ../../sass/Layout/base.sass */
textarea {
  overflow: auto;
}

/* line 150, ../../sass/Layout/base.sass */
optgroup {
  font-weight: bold;
}

/* line 153, ../../sass/Layout/base.sass */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 157, ../../sass/Layout/base.sass */
td, th {
  padding: 0;
}

/* line 160, ../../sass/Layout/base.sass */
iframe {
  border: none;
}

/* line 163, ../../sass/Layout/base.sass */
ul {
  list-style: none;
}

/* line 166, ../../sass/Layout/base.sass */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* line 171, ../../sass/Layout/base.sass */
h1 {
  font-size: 24px;
  font-weight: bold;
}

/* line 176, ../../sass/Layout/base.sass */
h2 {
  font-size: 18px;
  font-weight: normal;
}

/* line 181, ../../sass/Layout/base.sass */
h3 {
  font-size: 16px;
  font-weight: normal;
}

/* line 186, ../../sass/Layout/base.sass */
span, p {
  font-size: 16px;
}

/* line 190, ../../sass/Layout/base.sass */
i {
  font-size: 16px;
  font-style: normal;
}

/* line 195, ../../sass/Layout/base.sass */
em {
  font-size: 14px;
  font-weight: normal;
}

/* line 199, ../../sass/Layout/base.sass */
.hex-imgBtn {
  height: 26px;
  border-radius: 3px;
}
/* line 202, ../../sass/Layout/base.sass */
.hex-imgBtn > i {
  height: 26px;
  width: 26px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 211, ../../sass/Layout/base.sass */
.hex-imgBtn > span {
  padding: 0 8px;
  line-height: 26px;
  font-size: 14px;
}

/* line 216, ../../sass/Layout/base.sass */
.hex-normalBtn {
  height: 34px;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 14px;
}

/* line 223, ../../sass/Layout/base.sass */
.hex-blueBtn {
  background-color: #60d7da;
  color: #FFFFFF;
}
/* line 226, ../../sass/Layout/base.sass */
.hex-blueBtn > i {
  background-color: #8ae2e6;
}
/* line 228, ../../sass/Layout/base.sass */
.hex-blueBtn:hover {
  background-color: #55c3c7;
}
/* line 230, ../../sass/Layout/base.sass */
.hex-blueBtn:hover > i {
  background-color: #7dced1;
}

/* line 233, ../../sass/Layout/base.sass */
.hex-redBtn {
  background-color: #ff6c68;
  color: #FFFFFF;
}
/* line 236, ../../sass/Layout/base.sass */
.hex-redBtn > i {
  background-color: #8ae2e6;
}
/* line 238, ../../sass/Layout/base.sass */
.hex-redBtn:hover {
  background-color: #eb6560;
}
/* line 240, ../../sass/Layout/base.sass */
.hex-redBtn:hover > i {
  background-color: #7dced1;
}
