//
   Created by Jason on 16/3/1.
meta(charset="UTF-8")
include ../Components/Step/Step
link(rel="stylesheet" href="../Components/Step/Step.css")
+Step("5","3",["1.设置基本信息","2.配置资源","3.设置课程价格","4.新建课程主线","完成"])