#hide_div ul {
    padding: 0;
    margin: 0;
}

#hide_div li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px #27B779 solid;
    cursor: pointer;
    background-color: #ffffff;
}

#hide_div {
    position: absolute;
    display: none;
    z-index: 20;
}

#hide_ul {
    border: 4px #27B779 solid;
    border-radius: 5px 6px 7px 8px;
}

#top {
    background: url("/Content/images/choiceFillBlank.png") no-repeat;
    height: 7px;
    position: relative;
}

.u_span {
    border-bottom: 2px #27B779 solid;
    color: #27B779;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 0px 2px -4px 2px;
    padding-bottom: 4px;
    float: none;
}
