/* -----------------------------   打印样式   ----------------------------- */
@charset "utf-8";

/*================================试卷打印预览页面================================*/
#printPage, #printPage p, #printPage span {
    font-size: 12px !important;
    font-family: microsoft yahei !important;
}

@media print {
    #printPage, #printPage p, #printPage span {
        font-size: 12px !important;
        font-family: microsoft yahei !important;
    }
}

#main_div > div {
    width: 1180px;
    margin: 0 auto;
}

.hex-title {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}

    .hex-title h1 {
        float: left;
        line-height: 30px;
    }

    .hex-title .hex-rightbtn {
        float: right;
    }

/* 试卷底色 */
.hex-exe-bodys {
    background-color: #F6F7F9;
    margin-top: 10px;
}

/*//修改样式*/
.hex-content-student {
    margin-top: 5px;
    padding: 0 20px;
}

.hex-margin {
    margin: 0;
}

.hex-lf-padding {
    margin-top: 10px;
    padding-left: 40px;
}

.hex-answer-frame {
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
}

/*二维码*/
.hex-code {
    margin-top: 5px;
    margin-bottom: -49px;
    width: 100%;
    display: inline-block;
}

    .hex-code p {
        float: left;
        height: 55px;
        line-height: 55px;
    }

    .hex-code img {
        float: right;
    }

/*修改样式*/
#printPage {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.hex-exe-rowheight {
    width: 49%;
    float: left;
    overflow: hidden;
}

.hex-exe-option {
    min-width: 50% !important;
    float: left;
    margin-bottom: 5px;
    max-width: 100%;
    display: inline-flex;
}

    .hex-exe-option > div {
        margin-right: 10px;
    }

    .hex-exe-option > span {
        float: left;
    }

    .hex-exe-option img {
        max-width: 250px;
    }

.hex-answer-judge {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

/*打印强制分页*/
.PageNext {
    page-break-after: always;
}

/*选择题框*/
.choiceAnswer {
    border: 1px solid #34b27c;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    vertical-align: middle;
}

/*填空题框*/
.blankAnswer {
    border: 1px solid #34b27c;
    width: 80%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    vertical-align: middle;
}

/*主观题框*/
.hex-answer-control {
    width: 100% !important;
    min-height: 300px;
    border: 1px solid #34b27c !important;
    box-shadow: none;
    border-radius: 0;
    padding: 10px;
}

/*教师评判框*/
.exerciseAnswerJudge {
    border: 1px solid #34b27c;
    min-width: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    vertical-align: middle;
}

/*四个角*/
.corner {
    position: relative;
}

    .corner > div {
        width: 49px;
        height: 49px;
        top: 0;
    }

/*上左角*/
.top-left {
    left: 0;
    border-top: 1px solid #34b27c;
    border-left: 1px solid #34b27c;
    position: absolute;
}

/*上右角*/
.top-right {
    right: 0;
    border-top: 1px solid #34b27c;
    border-right: 1px solid #34b27c;
    position: absolute;
}

/*下左角*/
.buttom-left {
    left: 0;
    border-left: 1px solid #34b27c;
    border-bottom: 1px solid #34b27c;
}

/*下右角*/
.buttom-right {
    left: 0;
    border-right: 1px solid #34b27c;
    border-bottom: 1px solid #34b27c;
}
